// COLORS
$white01: #ffffff;
$white02: #ededed;
$white03: #dcdcdc;
$white04: #9fc5a9bd;



$black01: black;
$black02: #575757;
$black03: #707070;


//$color01: #;





$mobile_small: 250;
$mobile_plus: 400;
$mobile: 500;
$tablet: 768;
$wide_desktop: 1024;
$desktop_tablet: 1280;

