.content {
  background: rgb(206, 203, 203);
  padding: 20px 40px;
  text-align: center;

  @include respond_to(mobile) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include respond_to(tablet) {
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include respond_to(desktop) {
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-block {
    & + & {
      margin-top: 15px;

      @include respond_to(tablet) {
        margin: 0;
      }

      @include respond_to(desktop) {
        margin: 0;
      }
    }

    @include respond_to(mobile) {
      width: 49%;
      text-align: center;

      &:nth-child(2) {
        margin-top: 0px;
      }

      &:nth-child(3), &:nth-child(4) {
        margin-top: 15px;
      }
    }

    @include respond_to(tablet) {
      width: 49%;
      text-align: center;

      &:nth-child(3), &:nth-child(4) {
        margin-top: 25px;
      }
    }

    @include respond_to(desktop) {
      width: 21%;
      text-align: center;

      //&:nth-child(1) {
      //  width: 21%;
      //}

      //&:nth-child(2) {
      //  width: 21%;
      //}

      &:nth-child(3), &:nth-child(4) {
        margin-top: 0px;
        width: 28.5%;
      }
    }

    &-wrapper {
      overflow: hidden;
    }

    &-title_name1,
    &-title_name2,
    &-title_name3,
    &-title_name4 {
      text-transform: capitalize;
      display: inline;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      z-index: 999;

      @include respond_to(tablet) {
        font-size: 30px;
        padding-bottom: 5px;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 3px;
        transition: background-size .5s;

        &:hover {
          background-size: 100% 3px;
        }
      }

      @include respond_to(desktop) {
        font-size: 26px;
        padding-bottom: 5px;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .5s;

        &:hover {
          background-size: 100% 2px;
        }
      }
    }

    &-direction1,
    &-direction2,
    &-direction3,
    &-direction4 {
      transform: translateY(-110%);
      margin-top: 15px;
      overflow: hidden;
      opacity: 0;
      transition: all 1s ease 0s;
    }

    &-name {
      font-size: 14px;
      line-height: 1.5;

      @include respond_to(tablet) {
        font-size: 18px;
      }
    }
  }
}

.arrowDown1,
.arrowDown2,
.arrowDown3,
.arrowDown4 {
  font-size: 22px;
}

.arrowUp1,
.arrowUp2,
.arrowUp3,
.arrowUp4 {
  display: none;
  font-size: 22px;
}

.dis {
  display: block;
  display: inline;
}

.df {
  transform: translateY(0);
  opacity: 1;
}