.header {
  position: fixed;
  top: 0;
  left: 0;
  transition: all 1s ease;
  width: 100%;
  z-index: 1;

  @include respond_to(desktop) {
    background: $white02;
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;

    @include respond_to(tablet) {
      padding: 40px 80px;
    }

    @include respond_to(desktop) {
      align-items: center;
      padding: 20px 80px;
    }
  }

  &-logo {
    &-link {
      display: flex;
      align-items: center;
    }

    &-img {
      width: 130px;
      display: none;

      @include respond_to(desktop) {
        display: block;
      }
    }
    &-logotype {
      font-size: 24px;
    }

    &-title {
      position: relative;
      z-index: 1;
      font-size: 26px;

      @include respond_to(mobile_small) {
        display: none;
      }

      @include respond_to(tablet) {
        font-size: 44px;
      }
    }
  }

  &-burger {
    &-label {
      font-size: 28px;
      z-index: 1;
      cursor: pointer;

      @include respond_to(tablet) {
        font-size: 44px;
      }

      @include respond_to(desktop) {
        display: none;
      }
    }
  }
}

.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transform: translateY(-120%);
  opacity: 0;
  transition: all 1s ease 0s;
  display: block;
  background: $white02;

  @include respond_to(desktop) {
    transform: translateY(0%);
    position: static;
    opacity: 1;
    background: rgba($white02, 0);
  }

  &-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 40px;
    height: 100%;

    @include respond_to(desktop) {
      flex-direction: row;
      padding: 0;
    }

    @include respond_to(tablet) {
      padding: 40px 80px;
    }
  }

  &-item {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;

    &:hover {
      background-size: 100% 2px;
    }

    & + & {
      margin-top: 15px;

      @include respond_to(tablet) {
        margin-top: 30px;
      }

      @include respond_to(desktop) {
        margin: 0 0 0 30px;
      }
    }
    &-link {
      text-transform: capitalize;
      font-size: 28px;

      @include respond_to(tablet) {
        font-size: 40px;
        font-weight: bold;
      }

      @include respond_to(desktop) {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

.label_cross {
  display: none;
}

.label_burger {
  color:  $black03;
}

.hide {
  transform: translateY(-100%);
  opacity: 0;
  transition: all 1s ease 0s;
}

.active {
  transform: translateY(0%);
  opacity: 1;
  transition: all 1s ease 0s;
}

.dn {
  display: none;
}

.db {
  display: block;
}
